// ion-content {
// --ion-background-color:white;
// }

// ion-card {
//     --background: white;
// }

// ion-item {
//     --background: white;
// }

// ion-searchbar {
//     --background: rgb(211, 205, 205);
// }

// ion-item {
//     --backgroung: rgb(211, 205, 205);
// }