<ion-header>
  <ion-toolbar>
    <ion-title>Good Luck Buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>

        <ion-list>
          <ion-item>
            <ion-label>Categories</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="categoryId" (ionChange)="filter()">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{category.title}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Sort by</ion-label>
            <ion-select placeholder="Criteria" [(ngModel)]="sortBy" (ionChange)="filter()">
              <ion-select-option value="">None</ion-select-option>
              <ion-select-option value="created_at-desc">Newest</ion-select-option>
              <ion-select-option value="price-asc">Price Asc</ion-select-option>
              <ion-select-option value="price-desc">Price Dsc</ion-select-option>
              <ion-select-option value="discount-desc">Highest Discount</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-searchbar [(ngModel)]="searchText" (keyup.enter)="filter()" (ionClear)="cancelSearch()"></ion-searchbar>
        <ion-card *ngFor="let ad of ads">
          <!-- <ion-card *ngFor="let ad of ads | filter : searchText"> -->
          <ion-card-header>
            <ion-card-title>{{ad.title}} <ion-badge *ngIf="ad.is_on_discount" color="danger">- $ {{ad.discount}}</ion-badge></ion-card-title>
            <ion-card-subtitle>Advertiser: {{ad.user}}</ion-card-subtitle>
          </ion-card-header>
          <ion-img *ngIf="ad.img_url" src="{{publicUrl}}/{{ad.img_url}}" width="80" height="80"></ion-img>
          <ion-card-content>
            <ion-text *ngIf="!ad.is_on_discount" color="primary"><b>Price: </b>$ {{ad.price}}</ion-text>
            <ion-text *ngIf="ad.is_on_discount" color="primary">Price: <span style="text-decoration: line-through"> $ {{ad.price}}</span> <span><b> $ {{ad.price - ad.discount}}</b></span></ion-text>
            <p>Posted on: {{ad.created_at * 1000 | date:'dd-MM-yyyy'}}</p>
          </ion-card-content>
          <div>
            <ion-button id="{{ad.id}}" fill="clear" color="primary" (click)="details($event)">More</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="match">
    <ion-card-header>
      <ion-card-title>{{responseMessage}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
<!-- <ion-content padding *ngIf="noMatch"> 
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-searchbar [(ngModel)]="searchText" (keyup.enter)="search()" (ionClear)="cancelSearch()"></ion-searchbar>
        <ion-card *ngFor="let ad of ads">
        <ion-card *ngFor="let ad of ads | filter : searchText">
          <ion-card-header>
            <ion-card-title>{{ad.title}}</ion-card-title>
            <ion-card-subtitle>Advertiser: {{ad.user}}</ion-card-subtitle>
          </ion-card-header>
          <ion-img *ngIf="ad.img_url" src="http://ucarecdn.com/{{ad.img_url}}/" width="80" height="80"></ion-img>
          <ion-card-content>
            <p>Posted on: {{ad.created_at * 1000 | date:'dd-MM-yyyy'}}</p>
          </ion-card-content>
          <div>
            <ion-button id="{{ad.id}}" fill="clear" color="primary" (click)="details($event)">More</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="(ads | filter: searchText).length === 0">
    <ion-card-header>
      <ion-card-title>No matches</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content> -->