<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-cart"></ion-back-button>
    </ion-buttons>
    <ion-title>Good Luck Buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="my-card">
    <ion-card-header>
      <ion-card-title>Finish order</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Adress</ion-label>
          <ion-input type="text" [(ngModel)]="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input type="text" [(ngModel)]="note"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input type="text" [(ngModel)]="total_amount" disabled></ion-input>
        </ion-item>
      </ion-list>
      <br>
    </ion-card-content>
    <ion-button expand="block" [disabled]="isOrdered" (click)="order()">Proceed to pay</ion-button>
  </ion-card>
</ion-content>