// ion-content{
//     --ion-background-color:white;
// }

// ion-card {
//     --background: white;
// }

// ion-item {
//     --background: white;
// }

// ion-footer {
//     display: none;
// }

#pay-button {
    width: 100%;
    height: 50px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}