
#showQR {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

#scanQR {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

#stop {
    margin-left: 45%;
}

#download{
    margin-left: 20%;
}

#showIPS {
    width: 40%;
    height: 40%;
    margin-left: 30%;
}

#scan {
    margin-left: 10%;
}

#reset {
    display: none;
}

#choose {
    margin-left: 5%;
}