<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-cart"></ion-back-button>
    </ion-buttons>
    <ion-title>Good Luck Buy</ion-title>
  </ion-toolbar>
</ion-header>


<!-- <div class="row">
  <div class="col-md-12">
    <ion-button size="small" (click)="isIPSScan()">IPS Scan</ion-button>
    <ion-button size="small" (click)="isIPShow()">IPS Show</ion-button>
  </div>
</div> -->

<ion-content >
  
  <ion-card *ngIf="ipsShow"> 
    <ion-card-header>
      <ion-label for="card-element">Scan QR Code</ion-label>
    </ion-card-header>
    <ion-img src="{{publicUrl}}/{{qrCode}}" width="40" height="40" id="showQR"></ion-img>
    <ion-card-content>
      <ion-button color="light" (click)="downloadQR()" id="download">
        <ion-icon slot="icon-only" name="download"></ion-icon>
        Download
      </ion-button>
    </ion-card-content>

    
  </ion-card>

  <ion-card *ngIf="ipsScan"> 
    <ion-card-header>
      <div class="row">
        <div class="col-md-12">
          <ion-button color="light" (click)="captureImage()" id="choose">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
            Choose
          </ion-button>
          <ion-button color="light" (click)="startScan()">
            <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
            Scan
          </ion-button>
          <ion-button color="light" (click)="repeatScan()" color="warning" *ngIf="scanResult" id="reset">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">


      <video #video [hidden]="!scanActive" width="100%" id="scanQR"></video>

      <!-- Used to render the camera stream images -->
      <canvas #canvas hidden id="scanQR"></canvas>

      <ion-button size="small" shape="round" (click)="stopScan()" color="danger" *ngIf="scanActive" id="stop">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>

      <ion-card *ngIf="scanResult">
        <ion-card-header>
          <ion-card-title>QR Code</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ scanResult }}
        </ion-card-content>
      </ion-card>
      <ion-button color="light" (click)="reset()" *ngIf="scanResult" >
        <ion-icon slot="icon-only" name="cash"></ion-icon>
        Pay
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="my-card" padding *ngIf="showData">
    <ion-card-header>
      <ion-card-title>Pay</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Receiver</ion-label>
          <ion-input type="text" [(ngModel)]="receiver"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sender</ion-label>
          <ion-input type="text" [(ngModel)]="sender"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Code</ion-label>
          <ion-input type="text" [(ngModel)]="code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Purpose</ion-label>
          <ion-input type="text" [(ngModel)]="purpose"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Receiver's account number</ion-label>
          <ion-input type="text" [(ngModel)]="account_number"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label position="floating">Model</ion-label>
          <ion-input type="text" [(ngModel)]="model"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input type="text" [(ngModel)]="total_amount" disabled></ion-input>
        </ion-item>
      </ion-list>
      <br>
    </ion-card-content>
    <ion-button expand="block" [disabled]="isFinished" (click)="finishPayment()">Finish payment</ion-button>
  </ion-card>
  <ion-img src="https://i.ibb.co/1f1wzqF/logo.png" width="40" height="40" id="showIPS"></ion-img>
  <div class="row">
    <div class="col-md-12">
      <ion-button size="small" color="light" (click)="isIPSScan()" id="scan">
        <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
        IPS Scan
      </ion-button>
      <ion-button size="small" color="light" (click)="isIPShow()" id="show">
        <ion-icon slot="icon-only" name="eye"></ion-icon>
        IPS Show
      </ion-button>
    </div>
  </div>
</ion-content>



<!-- <ion-content padding *ngIf="showData">
  
</ion-content> -->