<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Good Luck Buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="my-card">
      <ion-card-header>
        <ion-card-title>Log in</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list>
          <br>
          <ion-button expand="block" [disabled]="isBusy" (click)="login()">Log in</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar text-center>
        <ion-title>
          Good Luck Buy
        </ion-title>
      </ion-toolbar>
</ion-footer>
