<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/splash-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Good Luck Buy</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Dark mode</ion-label>
        <ion-toggle [(ngModel)]="dark" (ionChange)="updateDarkMode()"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-card>
        <ion-card-header>
            <ion-img *ngIf="img_url" src="{{publicUrl}}/{{img_url}}" style="width: 40%; height: auto; margin: 10px auto;">></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" [(ngModel)]="name" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" [(ngModel)]="email" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Mobile phone</ion-label>
              <ion-input type="text" [(ngModel)]="mobile_phone" disabled></ion-input>
            </ion-item>
          </ion-list>
          <ion-button size="small" color="danger" fill="clear" (click)="showChangePasswordForm()">Change password</ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="buttonClicked">
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Current password</ion-label>
              <ion-input type="password" [(ngModel)]="currentPassword"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">New password</ion-label>
              <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm password</ion-label>
              <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
            </ion-item>
          </ion-list>
          <br>
          <ion-button slot="start" size="small" color="danger" (click)="changePassword()" [disabled]="isChanged">Change password</ion-button>
          <ion-button slot="end" fill="clear" color="primary" (click)="hideChangePasswordForm()">Cancel</ion-button>
        </ion-card-content>
      </ion-card>
  <ion-button expand="block" href="my-ads">My ads</ion-button>
  <ion-button expand="block" href="order-history">Order history</ion-button>
  <ion-button expand="block" href="my-cart">My cart</ion-button>
  <ion-button expand="block" [disabled]="isLogOut" (click)="logout()">Logout</ion-button>
</ion-content>