<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/splash-screen"></ion-back-button>
          </ion-buttons>
      <ion-title>Good Luck Buy</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="8" offset-sm="2" text-center>
            <ion-card *ngFor="let ad of ads">
              <ion-card-header>
                <ion-card-title>{{ad.title}} <ion-badge *ngIf="ad.is_on_discount" color="danger">- $ {{ad.discount}}</ion-badge></ion-card-title>
                <ion-card-subtitle>Advertiser: {{ad.user}}</ion-card-subtitle>
              </ion-card-header>
              <ion-img *ngIf="ad.img_url" src="{{publicUrl}}/{{ad.img_url}}" width="80" height="80"></ion-img>
              <ion-card-content>
                <ion-text *ngIf="!ad.is_on_discount" color="primary"><b>Price: </b>$ {{ad.price}}</ion-text>
                <ion-text *ngIf="ad.is_on_discount" color="primary">Price: <span style="text-decoration: line-through"> $ {{ad.price}}</span> <span><b> $ {{ad.price - ad.discount}}</b></span></ion-text>
                <p>Posted on: {{ad.created_at * 1000 | date:'dd-MM-yyyy'}}</p>
              </ion-card-content>
              <div>
                <ion-button id="{{ad.id}}" fill="clear" color="primary" (click)="details($event)">More</ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  