<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/my-profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Good Luck Buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="orders">
    <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="8" offset-sm="2" text-center>
            <ion-card *ngFor="let order of orders">
              <ion-card-header>
                <ion-card-title>Address: {{order.address}}</ion-card-title>
                <ion-card-subtitle>Note: {{order.note}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  <ion-card *ngFor="let order_item of order.order_items">
                      <ion-card-header>
                          <ion-card-title color="primary">{{order_item.title}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-text>Quantity: {{order_item.quantity}} | Total price: <b>{{order_item.quantity * order_item.price}} $</b></ion-text>
                      </ion-card-content>
                  </ion-card>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
