<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/splash-screen"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="ad">{{ad[0].title}}'s details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="ad">
      <ion-grid>
          <ion-row>
            <ion-col size="12" text-center>
              <ion-card>
                <ion-card-header>
                  <ion-img *ngIf="ad[0].img_url" src="{{publicUrl}}/{{ad[0].img_url}}" width="80" height="80"></ion-img>
                </ion-card-header>
                <ion-card-content>
                    <ion-card-title>{{ad[0].title}} <ion-badge *ngIf="ad[0].is_on_discount" color="danger">- $ {{ad[0].discount}}</ion-badge></ion-card-title>
                    <br>
                    <ion-card-subtitle>Advertiser: {{ad[0].user}}</ion-card-subtitle>
                    <ion-text>Description: {{ad[0].description}}</ion-text>
                    <p>Posted on: {{ad[0].created_at * 1000 | date:'dd-MM-yyyy'}}</p>
                    <p>On stock: {{ad[0].quantity}}</p>
                    <ion-text *ngIf="!ad[0].is_on_discount" color="primary"><b>Price: </b>$ {{ad[0].price}}</ion-text>
                    <ion-text *ngIf="ad[0].is_on_discount" color="primary">Price: <span style="text-decoration: line-through"> $ {{ad[0].price}}</span> <span><b> $ {{ad[0].price - ad[0].discount}}</b></span></ion-text>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item *ngIf="!ad[0].is_on_discount">
            <ion-label fixed>Discount: </ion-label>
            <ion-input type="number" value="" min="1" max="{{ad[0].price - 1}}" [(ngModel)]="discount"></ion-input>
            <ion-button expand="block" *ngIf="!ad[0].is_on_discount" [disabled]="isDiscount" (click)="applyDiscount()">Apply Discount</ion-button>
        </ion-item>
        <ion-button expand="block" *ngIf="ad[0].is_on_discount" [disabled]="isDiscount" (click)="removeDiscount()">Remove Discount</ion-button>
        <ion-button expand="block" [disabled]="isDeleted" (click)="delete()">Delete ad</ion-button>
        <ion-button expand="block" [disabled]="isLogOut" (click)="logout()">Logout</ion-button>
  </ion-content>
  