<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/splash-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Good Luck Buy</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
      <ion-card-header>
          <ion-card-title>Add ad</ion-card-title>
      </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="text" [(ngModel)]="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="text" [(ngModel)]="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="categoryId">
        <ion-select-option value="">No Category</ion-select-option>
        <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{category.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <input type="file" name="uploadfile" id="img" style="display:none;" (change)="fileChanged($event)" />
        <label for="img">Click me to upload image</label>
    </ion-item>
    <ion-item>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <ion-content>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="uploadPhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
    
</ion-card>
<ion-button expand="block" [disabled]="isDisabled" (click)="create()">Create</ion-button>

</ion-content>