<body >

  <ion-header>
    <ion-toolbar text-center>
      <ion-title>
        Good Luck Buy
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="main-content">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Dark mode</ion-label>
        <ion-toggle [(ngModel)]="dark" (ionChange)="updateDarkMode()"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-img src="{{publicUrl}}/images/money.png" style="width: 60%; height: auto; margin: 0px auto;"></ion-img>
    <div class="ion-padding" text-center>
    </div>
    <ion-button expand="block" href="login">Log in</ion-button>
    <ion-button expand="block" href="register">Register</ion-button>
  </ion-content>
  <ion-footer>
    <ion-toolbar text-center>
      <ion-title>
        Good Luck Buy
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</body>