<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Good Luck Buy</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="my-card">
      <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-list>
              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" [(ngModel)]="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input type="email" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Mobile phone</ion-label>
                <ion-input type="text" [(ngModel)]="mobile_phone"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Account number</ion-label>
                <ion-input type="text" [(ngModel)]="account_number"></ion-input>
              </ion-item>
              <ion-item>
                  <input type="file" name="uploadfile" id="img" style="display:none;" (change)="fileChanged($event)" />
                  <label for="img">Click to upload profile picture.</label>
              </ion-item>
              <ion-item>
              </ion-item>
            </ion-list>
            <br>
            <br>
            <ion-content>
              <ion-fab vertical="bottom" horizontal="center" slot="fixed">
                <ion-fab-button (click)="uploadPhoto()">
                  <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-content>
            <ion-button expand="block" [disabled]="isRegistred" (click)="register()">Register</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar text-center>
        <ion-title>
          Good Luck Buy
        </ion-title>
      </ion-toolbar>
</ion-footer>
